extends layout

block content
  p Saved #{model.title}
  form(action='/save',method='post')
   fieldset(data-role='controlgroup')
    span
     label(for='title') Title
    span
     input(type='text', name='title', value=model.title)
   fieldset(data-role='controlgroup')
    span
     label(for='firstName') First Name
    span
     input(type='text', name='firstName')
   p
   input(type='submit', value='Send')
   script.
    console.log('model', !{JSON.stringify(model)});
